/*@page {
    margin: 78px 25px;
}



footer {
    position: fixed; 
    bottom: -60px; 
    left: 0px; 
    right: 0px;
    height: 40px; 

    
    background-color: #03a9f4;
    color: white;
    text-align: center;
    line-height: 35px;
}*/


footer { 
    position: fixed; 
    bottom: -20px; 
    left: 0px; 
    right: 0px; 
    background-color: lightblue !important; 
    height: 30px; 
    line-height:25px; 
    padding-left: 8px;
}

.content { 
    page-break-after: auto; 
}

.inventory-content { 
    page-break-after: auto; 
}

.customer-content { 
    page-break-after: auto; 
}

.audit-trail-content { 
    page-break-after: auto; 
}

.invoice-total {
    width: 100%;
    border: 0;
}

.invoice-total th, .invoice-total td {
    border: 0;
    padding: 10px;
    text-align: right;
}

.img-responsive {
    height: auto;
    width: auto;
    max-height: 70px;
    max-width: 250px;
}

.report-name {
    display: block;
    font-size: 24px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.bg-dark {
    background-color: #000;
    color: #fff;
}

.content {
    width: 100%;
    border-collapse: collapse;
}

.content th, .content td {
    border: 1px solid;
    padding: 10px;
    text-align: left;
}

.content td:last-child {
    text-align: right !important;
}

.inventory-content {
    width: 100%;
    border-collapse: collapse;
}

.inventory-content th, .inventory-content td {
    border: 1px solid;
    padding: 10px;
    text-align: left;
}

.customer-content {
    width: 100%;
    border-collapse: collapse;
}

.customer-content th, .customer-content td {
    border: 1px solid;
    padding: 10px;
    text-align: left;
}

.audit-trail-content {
    width: 100%;
    border-collapse: collapse;
}

.audit-trail-content th, .audit-trail-content td {
    border: 1px solid;
    padding: 10px;
    text-align: left;
}

.t-footer td {
    padding: 10px;
    font-weight: bold;
}

.t-footer td:last-child {
    text-align: right !important;
}

.inv-footer td {
    padding: 10px;
    font-weight: bold;
}